.property-item {
  border-bottom: 1px solid grey;
  margin: 3%;
}

.property-line {
  margin-bottom: 2%;
  font-size: 120%;
}

.property-line-title {
  font-weight: bold;
}

.error {
  font-size: 150%;
  text-align: center;
}

.edit-property-button {
  color: white;
}

.updateNumRooms {
  float: right;
}

.thumbnail {
  margin: 10px;
}

.updateNumRooms input {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
}

.updateNumRooms i {
  vertical-align: middle;
}

.center-align {
  text-align: center;
}

.button {
  margin: 10px;
}

.updateUserField {
  margin: 20px;
}
