.property-item {
  border-bottom: 1px solid grey;
  margin: 3%;
}

.property-line {
  margin-bottom: 2%;
}

.property-line-title {
  font-weight: bold;
}

.error {
  font-size: 150%;
  text-align: center;
}
