.property-item {
  border-bottom: 1px solid grey;
  margin: 3%;
}

.property-line {
  margin-bottom: 2%;
  font-size: 120%;
}

.property-line-title {
  font-weight: bold;
}

.error {
  font-size: 150%;
  text-align: center;
}

.edit-property-button {
  color: white;
}

.updateNumRooms {
  float: right;
}

.thumbnail {
  margin: 10px;
}

.updateNumRooms input {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
}

.updateNumRooms i {
  vertical-align: middle;
}

.center-align {
  text-align: center;
}

.button {
  margin: 10px;
}

.updateUserField {
  margin: 20px;
}

.container.preloader-page {
  margin-top: 30%;
}

.room-type-dropdown {
  margin-bottom: 10%;
}

.react-tagsinput-tag-custom {
  background-color: #19a69a;
  border-radius: 5px;
  border: 1px solid #a5d24a;
  color: white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}